[[source]]
url         = "https://pypi.org/simple"
verify_ssl  = true
name        = "pypi"

[dev-packages]
pytest      = "==8.3.4"
pre-commit  = "==4.1.0"

[requires]
python_version = "3.12.3"

[scripts]
logs-test       = "env PYTHONPATH=.:src:test/logs/ pytest test/logs/"
metadata-test   = "env PYTHONPATH=.:src:test/metadata/ pytest test/metadata/"
