# sphinx
# Sphinx is a tool that generates documentation from reStructuredText source files.
# It is widely used for Python project documentation.

sphinx

# sphinx_rtd_theme
# This is a Sphinx theme that provides a modern and responsive layout,
# optimized for the Read the Docs platform.

sphinx_rtd_theme

# python-logging-loki
# A logging handler for Python that integrates with Grafana Loki.
# It allows log data to be sent to Loki for centralized logging.

python-logging-loki

# pyspark
# Apache Spark's Python API, PySpark, enables large-scale data processing.
# It is used for distributed data processing and machine learning tasks.

pyspark

# pymongo
# A Python driver for MongoDB, used to interact with MongoDB databases programmatically.

pymongo

# sickle
# A lightweight OAI-PMH client for harvesting metadata.
# It is commonly used in applications that interact with library and repository systems.

sickle

# xmltodict
# A simple Python library to convert XML data into Python dictionaries.
# Useful for parsing and working with XML data in Python applications.

xmltodict
